brotli==1.1.0
cffi==1.17.1
folium==0.19.3
gdal==3.0.2
geopandas==1.0.1
h2==4.1.0
jaraco.collections==5.1.0
mapclassify==2.8.1
matplotlib==3.9.2
munkres==1.1.4
pip-chill==1.0.3
platformdirs==4.2.2
pyqt5==5.15.9
pysocks==1.7.1
rasterio==1.4.3
sip==6.7.12
snuggs==1.4.7
toml==0.10.2
tornado==6.4.2
unicodedata2==15.1.0
win-inet-pton==1.1.0
zstandard==0.23.0
